src/main/mule/global-party-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
">

  <!-- GET /parties - Business Logic Flow -->
  <flow name="get-parties-business-logic" doc:name="get-parties-business-logic">
    <ee:transform doc:name="Build Query Parameters">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
  limit: (payload.limit default "100") as String,
  offset: (payload.offset default "0") as String
} ++ (if (payload.globalId != null and payload.globalId != "") {"globalId": payload.globalId as String} else {})
++ (if (payload.partyType != null and payload.partyType != "") {"partyType": payload.partyType as String} else {})
++ (if (payload.lastName != null and payload.lastName != "") {"lastName": payload.lastName as String} else {})
++ (if (payload.taxId != null and payload.taxId != "") {"taxId": payload.taxId as String} else {})]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <try doc:name="Try">
      <http:request config-ref="Global_Party_System_API_Config" path="/api/parties" doc:name="Get Parties from System API">
        <http:query-params><![CDATA[#[payload]]]></http:query-params>
      </http:request>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while fetching parties",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /parties - Business Logic Flow -->
  <flow name="upsert-party-business-logic" doc:name="upsert-party-business-logic">
    <try doc:name="Try">
      <http:request method="POST" config-ref="Global_Party_System_API_Config" path="/api/parties" doc:name="Upsert Party to System API">
      </http:request>

      <set-variable value="#[attributes.statusCode default 200]" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while upserting party",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /parties/{partyGlobalId} - Business Logic Flow -->
  <flow name="get-party-by-global-id-business-logic" doc:name="get-party-by-global-id-business-logic">
    <try doc:name="Try">
      <http:request config-ref="Global_Party_System_API_Config" path="/api/parties/{partyGlobalId}" doc:name="Get Party from System API">
        <http:uri-params><![CDATA[#[{partyGlobalId: vars.partyGlobalId}]]]></http:uri-params>
      </http:request>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:NOT_FOUND" enableNotifications="true" logException="true" doc:name="Not Found Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Party not found",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /parties/lookup - Business Logic Flow -->
  <flow name="lookup-party-business-logic" doc:name="lookup-party-business-logic">
    <try doc:name="Try">
      <http:request method="POST" config-ref="Global_Party_System_API_Config" path="/api/parties/lookup" doc:name="Lookup Party from System API">
      </http:request>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:NOT_FOUND" enableNotifications="true" logException="true" doc:name="Not Found Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Party not found for the given external ID",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
