src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <!-- APIkit Router Configuration -->

  <!-- Main HTTP Listener with APIkit Router -->
  <flow name="main">
    <http:listener config-ref="HTTP_Listener_config" path="/api/*" doc:name="HTTP Listener">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router doc:name="APIkit Router" doc:id="74f0dd8c-a505-4348-b18c-0d56a8d6b69b" config-ref="global-party-process-api-config"/>
		<error-handler>
      <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Resource not found",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "BAD_REQUEST",
    message: error.description default "Bad request",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="400" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_ACCEPTABLE",
    message: "Content type not acceptable",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="406" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "UNSUPPORTED_MEDIA_TYPE",
    message: "Unsupported media type",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="415" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" enableNotifications="true" logException="true" doc:name="On Error Propagate">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "METHOD_NOT_ALLOWED",
    message: "Method not allowed",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="405" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      </on-error-propagate>
    </error-handler>
  </flow>

  <!-- GET /parties -->
  <flow name="get:\parties:global-party-process-api-config">
    <ee:transform doc:name="Build Query Parameters">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  limit: (attributes.queryParams.limit as Number default 100) as String,
  offset: (attributes.queryParams.offset as Number default 0) as String,
  globalId: attributes.queryParams.globalId default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <flow-ref name="get-parties-business-logic" doc:name="get-parties-business-logic"/>
  </flow>

  <!-- POST /parties -->
  <flow name="post:\parties:global-party-process-api-config">
    <flow-ref name="upsert-party-business-logic" doc:name="upsert-party-business-logic"/>
  </flow>

  <!-- GET /parties/{partyGlobalId} -->
  <flow name="get:\parties\(partyGlobalId):global-party-process-api-config">
    <set-variable value="#[attributes.uriParams.partyGlobalId]" variableName="partyGlobalId" doc:name="Set Party Global ID"/>
    <flow-ref name="get-party-by-global-id-business-logic" doc:name="get-party-by-global-id-business-logic"/>
  </flow>

  <!-- POST /parties/lookup -->
  <flow name="post:\parties\lookup:global-party-process-api-config">
    <flow-ref name="lookup-party-business-logic" doc:name="lookup-party-business-logic"/>
  </flow>

  <flow name="console" doc:id="console-global-party-process">
    <http:listener doc:name="HTTP Listener" config-ref="HTTP_Listener_config" path="/console/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console doc:name="APIkit Console" config-ref="global-party-process-api-config"/>
    <error-handler>
      <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="APIKIT:NOT_FOUND">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Resource not found",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="404" doc:name="httpStatus" variableName="httpStatus" />
      </on-error-propagate>
      <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="APIKIT:BAD_REQUEST">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "BAD_REQUEST",
    message: error.description default "Bad request",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="400" doc:name="httpStatus" variableName="httpStatus" />
      </on-error-propagate>
      <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="APIKIT:NOT_ACCEPTABLE">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_ACCEPTABLE",
    message: "Content type not acceptable",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="406" doc:name="httpStatus" variableName="httpStatus" />
      </on-error-propagate>
      <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "UNSUPPORTED_MEDIA_TYPE",
    message: "Unsupported media type",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="415" doc:name="httpStatus" variableName="httpStatus" />
      </on-error-propagate>
      <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="APIKIT:METHOD_NOT_ALLOWED">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "METHOD_NOT_ALLOWED",
    message: "Method not allowed",
    timestamp: now()
  }
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable value="405" doc:name="httpStatus" variableName="httpStatus" />
      </on-error-propagate>
    </error-handler>
  </flow>

</mule>

